[Desktop Entry]
Name=App hub
Exec=app-hub %F
Terminal=false
Type=Application
StartupNotify=true
Icon=AppHub
Categories=COSMIC;Utility;
Keywords=
MimeType=
