[Desktop Entry]
Name=App hub
Exec=app_hub %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.app_hub.AppHub
Categories=COSMIC;
Keywords=
MimeType=
