[Desktop Entry]
Name=App hub
Exec=apphub %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.francescogaglione.apphub
Categories=COSMIC;Utility;
Keywords=
MimeType=
